body {
  font-family           : Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size             : 16px;
  overflow-y            : scroll;
  user-select           : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  -webkit-user-select   : none;
  cursor                : default;
  -webkit-touch-callout : none;
}

tbody:empty {
  display : none;
}

#pageContent {
  margin    : 0 auto;
  max-width : 1400px;
  min-width : 1275px;
}

header #progress {
  float: right;
  padding: 3px;
  font-weight: bold;
}

header h1 {
  font-size   : 18px;
  font-weight : bold;
}

h2 {
  margin-left: 15px;
}

footer p {
  text-align: center;
}

.dim {
  color : #ccc;
}

.higher {
  color : #1bc21b!important;
}

.lower {
  color : red!important;
}

.recessive {
  color : #1f98c7;
}

.dominate {
  color : #2c239b;
}

.recessive.flaw {
  color : #7e2929!important;
}

.dominate.flaw {
  color : red!important;
}

button {
  padding       : 1px 4px;
  min-width     : 75px!important;
  border        : 1px solid #333;
  border-radius : 2px 2px 2px 2px;
  font-size     : 11px;
  cursor        : pointer;
  font-variant  : small-caps;
}

select {
  font-size    : 11px;
  font-variant : small-caps;
}

button.female {
  background-color : #ffc0c0;
}

button.male {
  background-color : #afd3ff;
}

button.mine {
  background-color : #e1ceaf;
}

button.army {
  color            : #fff;
  background-color : #333;
}

button.army.battle {
  color            : #666;
  background-color : #ddd;
}

button.recycle {
  color            : #fff;
  background-color : #006400;
}

button.upgrade {
  background-color : #bfebbf;
}

button.war {
  display     : inline-block;
  width       : 190px;
  margin      : 5px;
  padding     : 10px 20px;
  font-size   : 24px;
  font-weight : bold;
  white-space : nowrap;
}

button.war .info {
  font-size   : 14px;
  font-weight : normal;
}

div.achievement {
  display          : inline-block;
  width            : 190px;
  margin           : 5px;
  padding          : 10px;
  color            : #999;
  border           : 2px solid #aaa;
  text-align       : center;
  white-space      : nowrap;
  background-color : #ddd;
}

div.achievement .name {
  font-size   : 14px;
  font-weight : bold;
}

div.achievement .desc {
  padding-top : 4px;
  font-size   : 10px;
}

div.achievement.unlocked {
  color            : #fff;
  border           : 2px solid #000;
  background-color : #333;
}

button.war.unlocked {
  color            : #fff;
  background-color : #600000;
}

.progressbarborder {
  padding  : 3px;
  border   : 1px solid #333;
  overflow : hidden;
}

.progressbarborder .progressbar.boy {
  float            : right;
  background-color : #afd3ff;
}

.progressbarborder .progressbar.girl {
  background-color : #ffc0c0;
}

.progressbarborder .progressbar.mine {
  background-color : #e1ceaf;
}

.progressbarborder .progressbar.army {
  background-color : #333;
}

.progressbarborder .progressbar.enemy {
  background-color : #600000;
}

.noborder {
  border           : 0!important;
  background-color : #fff!important;
}

h4 {
  margin : 0 0 3px 0;
}

.tableheader,
h4 {
  color        : #000!important;
  text-align   : left!important;
  font-size    : 16px!important;
  font-weight  : bold!important;
  white-space  : nowrap;
  font-variant : normal!important;
}

p {
  text-align : justify;
}

table {
  width : 100%;
}

td {
  font-size : 14px;
}

table.production {
  border-collapse : collapse;
  border-spacing  : 0;
}

table.production th {
  text-align  : center!important;
  font-weight : bold;
}

table.production tr.header th {
  font-size : 14px;
}

table.production tr.stats th {
  font-size : 14px;
}

table.critter {
  border-collapse : collapse;
  border-spacing  : 0;
}

table.critter tr.alt {
  background-color : #eee;
}

table.critter tr.newest {
  background-color : #f8eed0!important;
}

table.critter tr.newest td.noborder {
  background-color : #fff!important;
}

table.critter tr.defenderHealth div {
  background-color : #8b0000!important;
}

table.critter tr.selected {
  background-color : #daf8dc!important;
}

table.critter tr.defender {
  background-color : #fee;
}

table.critter tr.defender .defendTrait {
  background-color : #e6bfbf;
}

table.critter tr.attacker {
  background-color : #daf8dc;
}

table.critter tr.attacker .attackTrait {
  background-color : #abebb0;
}

table.critter tr.dead {
  opacity : .7;
}

table.critter tr.dead td {
  border : 1px solid #ddd;
}

table.critter tr.dead td:hover {
  background-color : transparent!important;
}

table.critter tr.health.dead {
  opacity : 0;
}

table.critter tr.health.dead td {
  border : 1px solid #ddd;
}

table.critter th {
  padding          : 2px;
  border           : 1px solid #333;
  text-align       : center;
  font-size        : 16px;
  font-weight      : bold;
  background-color : #f3ce8b;
  font-variant     : small-caps;
}

table.critter td {
  padding        : 3px;
  border         : 1px solid #333;
  text-align     : center;
  vertical-align : middle;
  font-size      : 11px;
  white-space    : nowrap;
}

table.critter td:hover {
  background-color : #ffffe0;
}

table.critter td.health {
  padding  : 3px 0 0 0;
  overflow : hidden;
}

table.critter td.health div {
  height           : 5px;
  background-color : green;
}

table.critter td.traitcell {
  width  : 15%;
  height : 38px;
}

table.critter th.traitcell {
  width : 15%;
}

table.critter .trait {
  font-size   : 12px;
  font-weight : bold;
}

table.hatchery tr.health {
  display : none!important;
}

table.critter.male th {
  background-color : #afd3ff;
}

table.critter.male td.health div {
  background-color : #050080!important;
}

table.critter.female th {
  background-color : #ffc0c0;
}

table.critter.female td.health div {
  background-color : #83091b!important;
}

table.critter.carrier th {
  background-color : #ddac99;
}

table.critter.carrier td.health div {
  background-color : #833111!important;
}

table.critter.carrier td.carry {
  background-color : #f8e0d5!important;
}

table.critter.mine th {
  background-color : #e1ceaf;
}

table.critter.mine td.health div {
  background-color : #5c4e40!important;
}

table.critter.mine td.mine {
  background-color : #eae1d1!important;
}

table.critter.farm th {
  background-color : #cde1af;
}

table.critter.farm td.health div {
  background-color : #607049!important;
}

table.critter.farm td.farm {
  background-color : #e7eedc!important;
}

table.critter.factory th {
  background-color : #b4afe1;
}

table.critter.factory td.health div {
  background-color : #575170!important;
}

table.critter.factory td.factory {
  background-color : #e3e2f2!important;
}

table.critter.army th {
  color            : #fff;
  background-color : #333;
}

table.critter.enemyarmy th {
  color            : #fff;
  background-color : #600000;
}

table.map {
  border-collapse : collapse;
  border-spacing  : 0;
}

table.map td {
  width            : 5%;
  height           : 25px;
  border           : 1px solid #333;
  text-align       : center;
  vertical-align   : middle;
  font-size        : 12px;
  font-weight      : bold;
  background-color : #eee;
}

table.map td.clear1 {
  background-color : #7cffb0;
}

table.map td.clear2 {
  background-color : #6aff85;
}

table.map td.clear3 {
  background-color : #92fe73;
}

table.map td.clear4 {
  background-color : #aafe77;
}

table.map td.clear5 {
  background-color : #c2fe77;
}

table.map td.clear6 {
  background-color : #dbfe9a;
}

table.map td.clear7 {
  background-color : #e8ca54;
}

table.map td.clear8 {
  background-color : #fb6;
}

table.map td.clear9 {
  background-color : #ed8466;
}

table.map td.clear10 {
  background-color : #fb734c;
}

table.map td.clear11 {
  background-color : #c77f8b;
}

table.map td.clear12 {
  background-color : #b95768;
}

table.map td.clear13 {
  background-color : #b13a52;
}

table.map td.clear14 {
  background-color : #97001e;
}

table.map td.mound {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIwSURBVDjLlZLNS5RRFMafe9/3vjPOjI1jaKKEVH40tGgRBWEibfoPQoKkVdtoEQQF4T/QqkVtWrSTFrVsF1FgJbWpIAh1k2PNh+PrfL4f95zTQk0HHKkDD/cc7vP8uHCuEhF0q/KnmXNgGR248PZFN4/GISXMC8L89DBPV0Dp4/SsazJjrtfb9/vdxfn/BgjzY5M8Aq8nBya+V3h93vtnQHFxat4kszntJAAAxus1YvnZQV5V/jyTEZarwnwFLGeFZdT0ZFOJdD84qoCDOpQ7grZfRNj020JSEOKvwvxGiF+q0tL0N5PuO+Mk0nC0B0BDsYCCImyzAIktBBloMwKJLSgKYcMAcdhC2KpVlIig+H5qxcv0n0xmj4Gbq+BwC2wtJLbgHUlMEFJwUpMIGpto16u+kJzSACAk+WCzvNbe+AVljkOYIcQQou3TbvdOJo+g4aNdqzaF+PT43HJVA8DQpcVIiPPtaqlEUQzlDELsTpgYwgTAQIjQqlUCtpQfn1spdmxh+PJSQyw9CrbKgM7tvcISQAxlBhC3GuCYXk3cWP25m3M7dk88qbWBRDVApaATOSjPBdXXwYEP5QyCgvjE/kwHgInHtHYBnYA2owhrPiiuw0sOw3EZFEagIB7qChDiYaUcNIoFtP1KxCTPhWiDw7WbXk9vKpnOgsI4exjg6Mbq96YQPxm79uPOvqvbXx4O3KrF6w8osv2df17kr5YXJq7vnw/S0v3k7Ie7xtud/wAaRnP+Cw8iKQAAAABJRU5ErkJggg==') center no-repeat;
}

table.map td.enemy {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAACcklEQVQ4T3WTzVMSYRzHueR08FBmcjBKFCVfQAVBWWETBXQVRiJB0UQRm6mmnKlDb2Mzdu/Q/+DBm/9GTdOMU9OboPkCCLuwu7ICTR36tmA0y7QdPofn+/y+3+f3/J5dBYD/wsyRRiZo88ntVZAVK9BBa4wODPJyexVkxRL0jHWajYyBXRpDyjuwJldTQlYskfYTnPAggJOHQSQ95p+Jib4aubp/hBLpKWKNjVDIP54vBzAzI4i7DBtytYrM/LVacVhh8b4b4n0/i+ZC2fxoDsLyKI79BHJ3/UhfJ3EwpC/u23SxPUvn5jdz+8quUatSMLO2j/w9D4QnMyishlB4vojiswWc3BoDP6ED52gH6zaBX/KCm3Mj43MiRdlwSBoR62nNnLbsJ3a5O24UX0SQX7JD8Blw7NGDd3WAHWpDxtIMxngFdG8TsjdGkbCbEdNr+GhnS105IOWz1BxN9sfZ5XEUnoaQ8/aAp7rADWuRtWrAmJpAd19CNkAhMdyPmE6Tj3Y0K8szqAwj6TbVJsb7aEEcmrDoOm2dbEVmoFk8WQXaoBbbdyGqa/m+fVWtqvj+BpSIO3pXmVkHhPvTYO3i6UTLaeu6RjAOM45GCHzVNm1KPVUBh/bu9WyIQm6BAkv1gpsaBhtwgRnsQtrYhpTTik+XG7eknqqAfVL3mgt7kLs9BT7sRdozhKTTUm4943Eg7STxoUGZknqqAvaIzgN+2YvkqAU7Pa0/onrN+na7+tUXtaqw292BJGnB1vmGotRTFSB+HPkdozYvvu9LqV7ifb1yZevcxey72vpfUr2qaMfQdlO6luPt2QvTb87U/fkvoPgNAk6WFLfeB3MAAAAASUVORK5CYII=') center no-repeat;
}

table.map td.mine {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKDSURBVDjLhZNfSN1lGMc/7+939ORU1C0iszwSG2duOFqNBQ2meJUoY4MixiiKiCCGMMauZYJ00252uYIuRlsgKJRsDLE/VBIhu3B/knVmInpy/jnrpB71fX+/99uFO3KkrAfei/fh+Xx4eJ/nNZIoRtx9Vq6xCTs0hCTwHnmPJOQ9ya4u+PYHKkdumSKToCQURVvFRXBLUhRZV4oQbBO4aBOIYxTHBOlVyt6Y3brL+/8RWIesJdi3D8UxiWN5glfrYM8yQToN6+vI2v8U9JrZLGFTE+HLKcwLqwS72wmOGRKpFP7X35B1vTsKktev9ZD9o5epacJX1gga3iKofQ2lsmjiAXow2Vt773ZPKWMk4X5KVUhhWl6hF/j+5z5U2+IHZUcvQFCOnf4SNzD+tVrDi1KA9yJ2hYX6N+enjSTs9/Uz2tXcIPFkCiKoOw67Usg9Ri6PWxonLswjDN457PIUNrf4jpFEYcCc8I4vwgMfVSUaTiM7h7eP8S4HcQEUgUlgEtX4yJEfu0Zu7O5XJDljiouUv2r2+pih8v2n0uHzJ5F9hKJV5AsoXgMTEuWyzN3sj+0yPYcuq2/bI9a8rQxJjqz/Pjjo/7oPEtIG8hsgiyHk0Tf9ObdBRxH+xxTqTmvFVFQOu3wGGUAegwFtLhEhKy2faHjHMQKIpzrL6l7CmASKImwuiynbTVBeQ/kzzzbeuWhaSuu3/YWlwacrvGgPaw+Q/+USS6OjGQw/Vqb3vlu9v41k/UFyD+c6gTv/2kEcR62m6sWKhaHzLHw3eiVyHG7+WO/9OZHpmBz4bNauWdZX6dzesrR1Zj7l/Uwfk3fP8XppXhI/d1MzcobPb5ziXmn+b0pcjPW7AMpFAAAAAElFTkSuQmCC') center no-repeat;
}

table.map td.farm {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKUSURBVDjLfZPta9V1GMY/39/vbGdnTubEhsOcFIPjDEdCvijEwletQWRRYFIoEkFEIv4Bw4EEYm96WYFQ+ACCixINxFKokWFmakvwzESX7fGnR7ezne/T1Yu2OqPWDRc33Pd9XdzcD0YS8/bu2Z16obObS9kAQZEQwxwiPno2rtjEoc8/5as958w8J0eNeeeJ+qs4xICPcc7/A2t9LYVkgYD1SOBCwAZPh/2Dl6cvYIPDh7lc1S0u4KwnTyP5pAEXPE9Xh+hKEx6ZnSCfFiioCWf/X6Bv8NavrM530CrR7iZIlm9h49QwjzUUufTzZZz1fYsKHHm9v/f84Dd9Y8MZm6mQa3uNZNkzdM3cYfTGOKcvnOr78cCV3lqOkYT7bk1BSouKSqPgwFDr2ztWV95aWdwNST329jGO/nT5y1fa6/ZJCTGK4Crjba+O3TaSsOfbhtXYuUoCSSiKpGUzNK5B7h5yZdzkFUJlDGGIzmEf3sJmE28aSVROmBej43C67p2m3KptyI4Q7T2iyyBUQB5MDpNbSvSO8sUjZBevfUGe7Wb+kMqfmY4YOFm/dmsxffQlZEeRn0axgsIMmBSf3WXk9PFgH9Lb9aH2Lxhi8xsqkeep2d/6++ODQZCQqihWQRZDyujXxzNXpXue/K8ttGzTlCksOePKJWQARQwGFFCMkDK1/qDOLLpGANHQU9fyJMbkkPfY7C6mbjlJfTP1rSvbr+4z62vrF/zCZP+KQhRb0mXrKP/wAZMDAyUM3y4pduxYuvY58m1PkA2N9ABX/7ODEPyzpunxwvjJvYyfG/jIOzZ0vq+d96+Xum+e+OR3O2OZnaZnYcvS3xj+mF2l/dy8tofna+OS+P49ms9u59CprfxSG/8TX76Rzx39RVIAAAAASUVORK5CYII=') center no-repeat;
}

table.map td.carry {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKfSURBVDjLfZNLaNRXFIe/O') center no-repeat;
}

table.map td.factory {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAG+SURBVDjLnZNNSwJRFIbfGccPCKJMoqSwdBcEobUQWrmIChJs07pVuA36By0KWrTtB7hqGSQSFBGCbdq0ECkhSmgxldmHOuP9aO4VpSEV6cDhHu7c85z3nLkXnHP048/RKO+0r6JPO9nc7LivCErL8vk8p5SCEILWKlzXdWSzWfj9foRCIcTjcaWVo/2mNRoNBINBGf8GizgWi8k1k8nYFNgAopqwi0KzM2oxKAMYZ5YiYHmGwDCM7gDTNGWV8Fi54yCBof4AudKwrEpYUwGxqjPGkZgjqNfrvQHCFsZfuvzO4d4KxEdx8PLBa/XPpQJGm7PgloKN+UZvBRX6LgGLk3oXBV588c/OgJ1ccso15MEKX7X6ZUilUlBVFYqiyDWRSKBivONxvGgDtG+ilTStOh3IV25lNU3TEA6HEYlEZCyg5VoZrgEX1o6W122A7ezWIKhyPuL04ayUlodFkvCWihqpYv9qFwFfAMSkB0uHsdk2gBKaNEyT3+kFfL9Wkbk5BXMyOByONiR9nYZWd+Ht40VcOD8lbLc9A3rs2ZMPw/IqKAq4l/JKxZKtX68yitenMibMgNtteuJ/HtN/7AcakErwOe40HwAAAABJRU5ErkJggg==') center no-repeat;
}

table.map td.fort {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJQSURBVDjLpZNLiI1xGMZ') center no-repeat;
}

table.map td.explore {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJGSURBVDjLjdJLSNRBHMDx78yqLZaKS75DPdgDDaFDbdJmde5QlhCJGxgpRJfqEEKnIsJLB7skQYQKZaSmdLaopPCgEvSCShCMzR5a7oq7/3l12RVtjfzBMA/4fWZ+MyOccwBM3g8HEbIdfCEhfAFnLVapOa28Uevpjrqz/WOsERJgsu9Uq5CZQzgqrJfo9BajNd5irEYn4p3OUiFExtCLmw2tawFi4l5zUMjMIau9u7K+qxeoAcoAA0wDb2OPwmfA16LiiaOHLj1edRLpkO3WmIis7+oBDgJbgQ2AH6gC6jY19N62RkcctKeVIJAhp9QgUA3kJXdONZVcq9JxPSgQoXRAyIDRth8oAXQyKdWnoCKrTD9CBv4GMqx1WGNZkeRWJKbG2hiD1Cb9FbTnzWFdY/LCdLKlgNQ84gyNKqHm0gDjqVHnxDHgA/B9RQkpaB6YklkZl62np9KBhOqwjpKFgeY2YAz4BESBWHI8Hhs6PVVSvc3v98ye4fP7T676B845nt040ip98qpWJmI9PWiU6bfWgXGN2YHcKwU7tsuc4kpUPMbU0+f8+vKt+Pitl7PLAMDI9cNBoB0hQwICzjqUp6MZvsy8yvp95BRuQUjJ75mPvH4wYo1NlJ64Mza7DPwrhi8cCOeXl/aUB4P4c/NJxKLMvpngycCrzxVFG2v/CwAMnguF80oLe8p27cQh+fnpPV/fTc95S6piXQDAw7a9YbWkezZXFbAwMx/xPFXb1D3+Y90AQF/L7kAsri9mZ4lrTd0TcYA/Kakr+x2JSPUAAAAASUVORK5CYII=') center no-repeat;
}

table.map td.treasure {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAG9SURBVDjLpZO9apRREIafDVuIhMjGhPwJukashNjoNdgIqQQbG8U7ECy0i4UXIMQLEKxtrCwsRMRKbBSCoBhQwRjwZ3e/M/O+FufbTYRYZWA45wznnXk4Z6Zjm8PYFIe0LsDDG/1pm03jy5gpAzbIxga3q2wMv2Q/uPXo8wZAZ/P6qVmbrd7iyd7cUh86HWhFMvvcpKBE4fv2B358+7Rx+/H23a7Nq+PL/d7c8ipf3r+kjH6jhDSkTAjCRoISZmbhNDMLq4S4c+/K8rmu8fzahYu8fvaEwc+dKm5FIZMJIVMSIsXu1ltmhw1nzq6x8/XjeteG+ZVF1q/dRKMhVqBInElG4igoApXxPlEJpo4t8eaF6drgEIPdd6j5g0KoqCYpSRShkq0LlZps+ugJZOjWxxEuSQ6zVohETZIh1LTiNqYQGTVmtwQqiUZBjgKVICfVsj0Ll7GwpYvcI1AkOSyUYTkQN4twCjWB0jgryYTAjYhRkIPyH1zVilETOV19QlCSHAQ5bA7GTaEUDuFxZ9EmsCGLOLJyvv5AGmvvstVWlGt/7zNjOvevrjy1uST90+8Hz4HBVYkrwfPOYcf5L9lR/9+EMK8xAAAAAElFTkSuQmCC') center no-repeat;
}

table.map td.gene {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKYSURBVDjLnZPJT1NRFMb5G1wDHV5boNiqdHrvFYolCAtsGSSWKpMFKhYqlDI6oAEKaVJwCIgSphaKtLYWCgSNBgRjMNHoxsSFS3cmJmA0NMTw+R6JKKZl4eJL7sm953fOd3JPHIC4WMpcppG5SGnZc8ZjVVF6QLn975sDgfaZmvg71oRJZIRUYcuAnq/2KWroGfm3QwEn2YpLVPPvOD2oiqj9yq/mGznegl56mx6T7ZbY1M6YAM0CuZkxT0b2Wg6QW/SsApRXDsotR+d6E9Y/h9DuqoCuJq0lKoDxqU1/pITGR27mBU4h+GEcTz5OY+ClA5JbyahYzof/9TBO9B/FcWcqpA4xU3We3GJ87ntnfO5meinMvruNnqcmXA2XoDVcCc0wCYkzBaZpA7ILRJ/2O2B87jA+QT9UeDRe8svZYAG8b/txc6kc9mA+yqayYPQXwvdmBEOrA5B2p0BtFIYOWKCm5RukWwZyXIbA+0F0LpaiKaBHmVsLw4we99ccsM8a8GClF5JOMcQdou8prULrgRmQo7KI0VcE13MrGv06lE5kodhzGvdWu2GdKkTVWC4DcELcJkKyXbCb1EhAVM') center no-repeat;
}

table.map td.boost {
  background : #000 url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJ/SURBVDjLpZNLiI1xGMZ/3/edOWZojjkiudbMuEVMM4SMBVlbSUpZyAIhG4qlkcJWycZOSslCMTNFuYVpRrkzLuMy5tA4xulcv') center no-repeat;
}

table.map td.fog {
  background-color : #eee;
}

table.map td.unlocked {
  background-color : #aaa;
}

table.map td.unlocked:hover {
  background-color : #666;
}

.imageleftandtext {
  display : inline;
}

.imageleftandtext .image {
  vertical-align : middle;
}

.imageleftandtext .text {
  margin-right   : 2px;
  margin-left    : 0;
  vertical-align : bottom;
}

.hovering {
  background-color : #ffffe0;
}

.modal {
  padding          : 15px;
  border           : 2px solid #000;
  background-color : #fff;
}

ul.tabs {
  margin          : 0;
  padding         : 7px 0;
  list-style-type : none;
  text-align      : left;
  font-size       : 0;
}

ul.tabs li {
  display      : inline;
  margin       : 0;
  margin-right : 5px;
}

ul.tabs li a {
  position            : relative;
  padding             : 7px 16px;
  color               : #000!important;
  border              : 1px solid #ccc;
  border-bottom-color : #b7b7b7;
  border-radius       : 3px 3px 0 0;
  outline             : none;
  text-decoration     : none;
  font                : bold 12px Verdana;
  font-weight         : bold!important;
  background          : #f0f0f0;
}

ul.tabs li a:visited {
  color : #000;
}

ul.tabs li.female a,
ul.tabs li.female a:hover {
  background-color : #ffc0c0;
}

ul.tabs li.male a,
ul.tabs li.male a:hover {
  background-color : #afd3ff;
}

ul.tabs li.mine a,
ul.tabs li.mine a:hover {
  background-color : #e1ceaf;
}

ul.tabs li.army a,
ul.tabs li.army a:hover {
  color            : #fff!important;
  background-color : #333;
}

ul.tabs li.achievement a,
ul.tabs li.achievement a:hover {
  color            : #fff!important;
  background-color : #00008b;
}

ul.tabs li.army.battle a,
ul.tabs li.army.battle a:hover {
  color            : #fff!important;
  background-color : #8b0000;
}

ul.tabs li.selected a,
ul.tabs li.selected a:hover {
  position            : relative;
  top                 : 0;
  color               : #000!important;
  border              : 1px solid #b7b7b7;
  border-bottom-color : #fff;
  background-color    : #fff;
}

ul.tabs li.selected a:hover {
  text-decoration : none;
}

div.tabcontents {
  min-height       : 620px;
  border           : 1px solid #b7b7b7;
  border-radius    : 0 3px 3px 3px;
  background-color : #fff;
}
